body {
    margin: 0;
}

#main-block {
    background: beige;
    display: grid;
    grid-template-rows: 60px 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    grid-template-areas:
        "month month"
        "location calendar"
        "organizer organizer";
    height: 100vh;
}

.calendar-table {
    background: white;
}


#location-search {
    grid-area: location;

}

#calendar-main {
    grid-area: calendar;
}

#organizer-main {
    grid-area: organizer;
}

td,th {
    box-sizing: border-box;
    text-align: left;
    height: 42px;
    width: 77px;
    border: 1px solid black;
    padding-left: 10px;
}

th {
    height: 65px;
}

table {
    border-collapse: collapse;
}

#month-selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    grid-area: month;
}

#month-text {
    vertical-align: center;
    height: 60px;
    line-height: 60px;
    margin: 0 10px 0 20px;
}

#year-text {
    vertical-align: center;
    height: 60px;
    line-height: 60px;
    margin-right: 20px;
}

.arrow {
    display: block;
}