body {
    margin: 0;
}

#main-block {
    display: grid;
    grid-template-rows: 60px 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    grid-template-areas:
        "month month"
        "location calendar"
        "organizer organizer";
    height: 100vh;
}
#month-selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    background: black;
    grid-area: month;
}

#location-search {
    background: blue;
    grid-area: location;

}

#calendar-main {
    background: red;
    grid-area: calendar;
}

#organizer-main {
    background: yellow;
    grid-area: organizer;
}

td {
    height: 50px;
    width: 65px;
    border: 1px solid black;
    padding: 0;
}